/* Style board so that there are:
    2 stores in oval shape (1 per player) on left and right of board
    12 slots (6 per player) in 2 rows on top and bottom in between store ovals */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-size: 10vw;
}

h1 {
    font-size: 5vw;
}

.board {
    width: 80vw;
    height: 40vw;
    background-color: #4C261C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .player {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
  }
  
  .pit {
    background-color: white;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: black;
    margin: 1vw;
  }
  
  .store {
    background-color: yellow;
    width: 16vw;
    height: 32vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: black;
    margin: 1vw;
  }

button {
    font-size: 2vw;
    padding: 1vw 2vw;
}
