@font-face {
  font-family: 'Maragsâ-Display';
  src: url('./fonts/Maragsâ-Display.otf') format('opentype');
}

@font-face {
  font-family: 'Bantayog-Semilight';
  src: url('./fonts/Bantayog-Semilight.otf') format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #B08383;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  font-size: 8vw;
  font-family: 'Maragsâ-Display', sans-serif;
  margin-bottom: 1vh;
  color: #1A100F;
}

h1 {
  font-size: 4vw;
  font-family: 'Bantayog-Semilight', sans-serif;
  color: #1A100F;
}

.board {
  background-image: url("https://res.cloudinary.com/dwuulwzu0/image/upload/v1687750099/image_2_ceyuio.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 90vw;
  height: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.player {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5vw;
}

.pit {
  font-family: 'Bantayog-Semilight', sans-serif;
  background-color: #F9F5ED; 
  border-radius: 50%;
  width: 7.5vw;
  height: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: #1A100F;
  margin: 1vw;
}

.store {
  font-family: 'Bantayog-Semilight', sans-serif;
  width: 1vw;
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  color: #F9F5ED;
  margin: 1vw;
}

#player1-store{
  margin-left: 8vw;
}

#player2-store{
  margin-right: 5vw;
}

button {
  font-family: 'Bantayog-Semilight', sans-serif;
  font-size: 2vw;
  padding: 1vw 2vw;
  margin-top: 5vh;
  background-color: #F9F5ED;
  border-color: #1A100F;
  border-radius: 10px;
}

